    <h4> {{CP_DICT.CP_Name}} </h4>
<table>
    <tr>
        <td>Date first seen:</td><td>{{CP_DICT.Date_First_Seen}}</td>
    </tr>
    <tr>
        <td>Total Usage (MB):</td><td>{{"{:,}".format(CP_DICT.Total_Usage)}}</td>
    </tr>
    <tr>
        <td>Number of Entries:</td><td>{{"{:,}".format(CP_DICT.Count)}}</td>
    </tr>
    <tr>
        <td>Average (MB):</td><td>{{"{:,}".format(CP_DICT.Average_Usage)}}</td>
    </tr>
    <tr>
        <td>Highest 24hr Usage:</td><td>{{"{:,}".format(CP_DICT.Highest_Usage)}}</td>
    <tr>
        <td>Date of Highest Use: &nbsp</td><td>{{CP_DICT.Date_Highest_Usage}}</td>
    </tr>

</table>

