{% extends 'base.html' %}

{% block title %} Cradlepoint Reporting Project {% endblock %}

{% block content %}
    
<style>
.column {
  float: left;
  margin-right: 0
}
.left {
  width: 52%;
}
.right {
  width: 48%;
}
.row::after {
    content: "";    
    display: table;
    clear: both;
}
</style>

    <h2>Cradlepoint Summary Report</h2>
    <br>
    <div class="row">
        <div class="column left" id="picker">
            <form>
                <h4>Select a Cradlepoint:</h4>
                <select id="CP_Picker" name="CP" class="form-select" aria-label="Default select"> <!-- onchange="showInfo();" -->
                {% for device in CP_LIST%}
                <option value="{{device}}">{{device}}</option>
                {% endfor %}
                </select>
            </form>
          <br><br>
          <button class="btn btn-outline-secondary" type="submit" id="executeButton">Show Summary Report</button>
        </div>

        <div class="column right" id="device_info">
        <!-- Device info will get stuffed in here after a device selection is made -->
        </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
    
    function executeReport() {
      var selectedCP = document.getElementById("CP_Picker").value;      
            axios.get('/device_info', {
                params: {
                    cp: selectedCP
                }
            })
            .then(function (response) {
                document.getElementById("device_info").innerHTML = response.data;
            })
            .catch(function (error) {
                console.log(error);
            });
        };
    
    //add event listener to the Execute button
    document.getElementById('executeButton').addEventListener('click', executeReport);
    </script>


{% endblock %}