{% extends 'base.html' %}

{% block title %} Cradlepoint Reporting Project {% endblock %}

{% block content %}
  <style>
    .column {
      float: left;
      margin-right: 0;
    }
    .left {
      width: 52%;
    }
    .right{
      width: 48%;
    }
    .row::after {
      content: "";    
      display: table;
      clear: both;
    }
  </style>

</head>
<body>
    <h2>Cradlepoint Usage Report</h2>
    <br>
    <div class="row">
        <div class="column left" id="picker">
            <form>
                <h4>Select a Cradlepoint:</h4>
                <!-- <label for="CP_Picker">Select a Cradlepoint:</label> -->
                <select id="CP_Picker" name="CP" class="form-select" aria-label="Default select"> <!-- onchange="showInfo();" -->
                {% for device in CP_LIST%}
                <option value="{{device}}">{{device}}</option>
                {% endfor %}
                </select>
            </form>
            <br>
            <form>
                <strong>Sort by:</strong>
                <label>Date&nbsp;</label><input type="radio" name="sort_by" value="Date" checked> 
                <label>Usage&nbsp;</label><input type="radio" name="sort_by" value="Usage">
                &nbsp;
                <strong>Sort order:</strong>
                <label>Ascending&nbsp;</label><input type="radio" name="sort_order" value="ASC" checked> 
                <label>Decending&nbsp;</label><input type="radio" name="sort_order" value="DESC">
            </form>
        </div>

        <div class="column right" id="device_usage">
        <!-- Device info will get stuffed in here after a device selection is made -->
        </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
     var option1, option2;

    function getSelectedOptions() {
        option1 = document.querySelector('input[name="sort_by"]:checked');
        option2 = document.querySelector('input[name="sort_order"]:checked');
    }    

    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('CP_Picker').addEventListener('change', function() {
            var item = this.value;
 
            getSelectedOptions()

            //alert("Selected options:\nsort_by: " + option1.value + "\nsort_order: " + option2.value);
            
            axios.get('/device_usage', {
            params: {
                cp: item,
                sort_by_value: option1.value,
                sort_order_value: option2.value
            }
            })
            .then(function (response) {
                document.getElementById("device_usage").innerHTML = response.data;
            })
            .catch(function (error) {
                console.log(error);
            });
        });
    });

    </script>
   
{% endblock %}